body {
  font-weight: bold;
}

h3, th, td {
  padding-left: 0.5vw;
}

table td {
  font-weight: bold;
  padding-right: 0.5vw;
}

.intro {
  display: block;
  text-align: center;
}

.credentials {
  display: block;
  text-align: left;
}

.profile-img {
  margin-top: 3vh;
  border: solid 3px black;
  border-radius: 50%;
  height: 298.8px;
  width: 298.8px;
}
